@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

p {
	font-family: 'Permanent Marker', cursive;
	
}

.container {
	margin-top: 5vh;
	display: -webkit-flex;
	display: flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

img {
	width: 30vw;
	margin: 0 0 3vw 0;
}
